<div class="center hero-unit">
	<h1>Welcome to MyWaterall</h1>
	<h2>
		This is the home page for your 
		<a href="localhost:3000">Waterall</a>
		controller. 
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("cropped-Website-Logo.png", alt: "Symp1e"), 'http://localhost:3000/' %>
