<div class="media" style="border:2px solid; border-color:#E8E8E8; border-radius:5px; padding:7px;">
  <a class="pull-left">
    <%= image_tag("weather.png", :class => "media-object", :style => "width: 64px; height: 64px;", :title => "Waterall", :alt => "Waterall") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><span class="label label-warning">Sunny</span> Tempe, AZ</h4>
    <p>Chance of rain <span class="label label-info">55%</span></p>
    <p>Humidity <span class="label label-info">18%</span></p>
  </div>
</div>