<footer class="footer">
  <small>
    A Product by 
    <a href="http://www.symp1e.com/">Symp1e</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://symp1e.com">News</a></li>
    </ul>
  </nav>
</footer>
