<div class="page-header">
  <h1>Channel 01 Schedule <small>Watering Tulips</small></h1>
</div>
<div class="media">
  <a class="pull-left">
    <%= image_tag("weather.png", :class => "media-object", :style => "width: 64px; height: 64px;", :title => "Waterall", :alt => "Waterall") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><span class="label label-warning">Sunny</span> Tempe, AZ</h4>
    <p>Chance of rain <span class="label label-info">55%</span></p>
    <p>Humidity <span class="label label-info">18%</span></p>
  </div>
</div>

<table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Start time</th>
                <th>Duration in minutes</th>
                <th>Watering</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  11:30
                </td>
                <td>
                  <span class="badge badge-success">30</span>
                </td>
                <td>
                  <span class="label label-success">completed</span>
                </td>
                <td>
                  <span class="label">as scheduled</span>
                </td>
              </tr>
              <tr>
                <td>
                  13:30
                </td>
                <td>
                  <span class="badge badge-success">30</span>
                </td>
                <td>
                  <span class="label label-success">completed</span>
                </td>
                <td>
                  <span class="label">as scheduled</span>
                </td>
              </tr>
              <tr>
                <td>
                  15:30
                </td>
                <td>
                  <span class="badge badge-success">30</span>
                </td>
                <td>
                  <span class="label label-success">completed</span>
                </td>
                <td>
                  <span class="label">as scheduled</span>
                </td>
              </tr>
              <tr>
                <td>
                  17:30
                </td>
                <td>
                  <span class="badge badge-success">30</span>
                </td>
                <td>
                  <span class="label label-warning">skipped</span>
                </td>
                <td>
                  <span class="label">it rained in tempe</span>
                </td>
              </tr>
              <tr>
                <td>
                  19:30
                </td>
                <td>
                  <span class="badge badge-success">30</span>
                </td>
                <td>
                  <span class="label label-success">completed</span>
                </td>
                <td>
                  <span class="label">as scheduled</span>
                </td>
              </tr>
              <tr>
                <td>
                  21:30
                </td>
                <td>
                  <span class="badge badge-success">15</span>
                </td>
                <td>
                  <span class="label label-warning">in progress</span>
                </td>
                <td>
                  <div class="progress progress-success progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  00:00
                </td>
                <td>
                  <span class="badge badge-success">45</span>
                </td>
                <td>
                  <span class="label">pending</span>
                </td>
                <td>
                  <span class="label">pending</span>
                </td>
              </tr>

            </tbody>
          </table>
          
          <a class="btn btn-primary btn-large" href="/boardshortmessages">
            Edit Schedule
          </a><br/><br/><br/>
